# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables & Backups
.env
*.bak
*.log

# Static files (generated during build)
staticfiles/
staticfiles_build/

# Media uploads (ignore user uploaded files, keep default assets and directories)
media/file/*
!media/file/.gitkeep
media/profileimg/*
!media/profileimg/.gitkeep

# IDE & OS
.vscode/
.idea/
Thumbs.db
.DS_Store