# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Media / uploaded files
media/

# Static files
staticfiles/
staticfiles_build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store