{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<style>
     .add-emp-form {
        margin-top: 20px;
    }

    .form-body {
        background-color: #f8f9fa;

        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-body:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
        transition: all 0.3s ease;
        border: 1px solid #28a745;
    }
    .form-body input{
        border-radius: 15px;
    }
</style>
<h1>Change Admin Password</h1>
<hr>
<div class="add-emp-form container">
    <div class="alert alert-info" role="alert">
        Please fill out the form below to update the password.
    </div>
    <div class="form-block">
        <div class="card-body col-sm-12 col-md-6 col-lg-6 mx-auto form-hover">
            <form method="POST" class="form-body form-control p-3 gap-3">
                <fieldset>
                    <h1 class="text-center my-3"><i class="fa-solid fa-circle-user fa-canvas-square fa-2x "
                            style="color: rgb(37, 145, 66);"></i>
                    </h1>
                    <h3 class="text-center my-3">Change Password</h3>
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label for="oldpwd">Old Password:</label>
                            <input type="password" class="form-control" id="oldpwd" name="oldpwd" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label for="newpwd">New Password:</label>
                            <input type="password" class="form-control" id="newpwd" name="newpwd" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label for="conpwd">Confirm Password:</label>
                            <input type="password" class="form-control" id="conpwd" name="conpwd" required>
                        </div>
                       
                       
                    </div>
                    <button type="submit"
                        class="btn btn-success rounded-pill btn-hover-dark w-100 my-4">Update
                        Password</button>

                </fieldset>
            </form>
        </div>

    </div>


</div>
{% endblock %}